<div class="card bg-light">
  <div class="card-header">
    <h3 class="card-title"> Most Popular </h3>
  </div>
  <div class="card-body">
    {{#each sidebar.popular}}
      <a href="/images/{{ id }}"><img src="/public/upload/{{filename}}" title= "{{title}}"  style="width: 92px; height: 71px;" class="border border-dark rounded m-1"></a>
    {{/each}}
</div>
</div>
<br>
