<!DOCTYPE HTML>
<html lang="en">

<head>
<title> imgUploader.io </title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!--Required link tags -->
  <!-- Bootstrap 4 CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Custom CSS -->
  <!-- <link rel="stylesheet" type="text/css" href="/public/css/styles.css"> -->
</head>

  <body>
        <div class="bg-dark m-1 p-1 rounded text-center border border-danger">
          <h1><a class="text-white font-weight-bolder text-decoration-none" href="/"> imgUploader.io </a></h1>
      </div>
    <hr>

    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          {{{ body }}}
        </div>
        <div class="col-sm-4">
          {{> stats this }}
          {{> popular this }}
          {{> comments this }}
        </div>
      </div>
    </div>
  <hr>

      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <p class="text-muted"><a href="https://github.com/AhmNouira/imgUploader.io" target="_blank" class="text-dark"> imgUploader.io </a> | &copy; Copyright 2019, All Rights Reserved</p>
            <p class="text-center">
              <a href="https://www.linkedin.com/in/ahmed-nouira/" target="_blank"><i class="fab fa-linkedin fa-2x text-primary"></i></a>
              <a href="https://www.facebook.com/ahmed.nouira.7792" target="_blank"><i class="fab fa-facebook-square fa-2x text-primary"></i></a>
              <a href="https://twitter.com/AhmNouira" target="_blank"><i class="fab fa-twitter-square fa-2x text-primary"></i></a>
            </p>
          </div>
        </div>
      </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/0002737152.js "></script>
    <script src="/public/js/scripts.js"></script>

  </body>
  </html>
